body{
    
}

#first-name{
    margin-top: 25px;
}

#last-name{
    margin-top: 25px;
}

.centered-form{
    margin-top: 100px;
    height: 300px;
}


.centered-form .panel{
    background:rgba(255,255,255,0.8);
    box-shadow: rgba(0, 0,0,0)20px,20px,20px;
}  

.panel-body{
    background-color: rgb(13, 211, 56);
    height: 500px;
}

.col-xs-12{
    
    height: 430px;
    width: 1300px;
    margin-left: -100px;
}

.panel-default{
    
    height: 500px;
    width: 1300px;
    margin-left: 20px;
    margin-top: -80px;
}

.panel-heading{
    color: transparent;
    
}

.panel-title{
    color: rgb(69, 56, 247);
    margin-left: 450px;
    font-family: Arial;
    font-size:20px; 
    
}

.panel-body .form-group{
    
}

#civil1{
    margin-top: 100px;
}

.form-control{
    color: rgb(4, 2, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.form-control .email{
    color: rgb(4, 2, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

.content1{
    margin-left: 120px;
    margin-top: 0px;
}


.content2{
    margin-left: 120px;
    margin-top: 10px;
}

.content3{
    margin-left: 120px;
    margin-top: 10px;
}
#secondry{
    margin-left: 540px;
    margin-top: 0px;
}

#higher{
    margin-left: 540px;
    margin-top: 5px;
}

#other{
    margin-left: 540px;
    margin-top: 5px;
}

#note1{
    color: red;
    margin-left: 120px;
    margin-top: 0px;
}
#note2{
    color: red;
    margin-left: 120px;
    margin-top: 0px;
}

#driving-licence{
    width:620px;
    margin-left: 0px;
}

#applicant-citizenship{
    width:620px;
    margin-left: 650px;
    margin-top: -50px;
}

#office-phone{
    width:400px;
    margin-left: 430px;
    margin-top: -30px;
}

#mobile-phone{
    width:400px;
    margin-left: 0px;
    margin-top: 20px;
}

#home-phone{
    width:400px;
    margin-left: 205px;
    margin-top: 20px;
}

.civil-status-form .civil-status-form1{
    margin-left: 630px;
    margin-top: -10px;
    background-color: azure;
}

#gender-form1{
    margin-left: 255px;
    margin-top: -20px;
}

.btn-group {
    color: rgb(73, 134, 247);
    margin-left: 200px;
    margin-top: 20px;
}



#birth-date{

    margin-left: 230px;
    margin-top: 50px;
}

.calender{
    margin-left: 350px;
    margin-top: -20px;
}


#years{
    width:60px;
    margin-left: 850px;
    margin-top: -25px;
}

#months{
    width:70px;
    margin-left: 912px;
    margin-top: -30px;
}

#days{
    width:60px;
    margin-left: 985px;
    margin-top: -30px;
}

#currect-age{
    margin-left: 570px;
    margin-top: -20px;
}

#citizen{
    margin-left: 990px;
    margin-top: -165px;
}

#next{
    width:200px;
    margin-left: 680px;
    margin-top: -33px;
    background-color: rgb(159, 168, 250);
}

#prev{
    width:200px;
    margin-left: 470px;
    margin-top: -154px;
    background-color: rgb(159, 168, 250);
}

#logout{
    padding: 9px; 
    margin-left: 1180px; 
    margin-top: -470px;
    outline: 0;
    padding-top: 3px; 
    width:100px;
    height:30px;
    background-color: rgb(81, 114, 133); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(28, 138, 240, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(34, 11, 240, 0.1) 5px 5px 8px; 
}



















































