.heading{
    margin-top: 250px;
    margin-left: 350px;
    color:#6161c9;
}

.register{
    margin-top: 10px;
    margin-left: 650px;
}

.retry{
    margin-top: 10px;
    margin-left: 650px;
}

#logout{
    padding: 9px; 
    margin-left: 1130px; 
    margin-top: -550px;
    outline: 0;
    padding-top: 3px; 
    width:100px;
    height:30px;
    background-color: rgb(81, 114, 133); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(28, 138, 240, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(34, 11, 240, 0.1) 5px 5px 8px; 
}