body{
    
}

#first-name{
    margin-top: 25px;
}

#last-name{
    margin-top: 25px;
}

.centered-form{
    margin-top: 100px;
    height: 300px;
}


.centered-form .panel{
    background:rgba(255,255,255,0.8);
    box-shadow: rgba(0, 0,0,0)20px,20px,20px;
}  

.panel-body{
    
    height: 500px;
}

.col-xs-12{
   
    height: 700px;
    width: 1300px;
    margin-left: -100px;
}

.panel-default{
    
    height: 700px;
    width: 1300px;
    margin-left: 20px;
    margin-top: -80px;
}

.panel-heading{
    color: transparent;
    
}

.panel-title{
    color: rgb(69, 56, 247);
    margin-left: 450px;
    font-family: Arial;
    font-size:20px; 
    
}

.panel-body .form-group{
    
}

#civil1{
    margin-top: 100px;
}

.form-control{
    color: rgb(4, 2, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.form-control .email{
    color: rgb(4, 2, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

.content{
    margin-left: 100px;
    margin-top: 20px;
}

#driving-licence{
    width:620px;
    margin-left: 0px;
}

#applicant-citizenship{
    width:620px;
    margin-left: 650px;
    margin-top: -50px;
}

#office-phone{
    width:400px;
    margin-left: 430px;
    margin-top: -30px;
}

#mobile-phone{
    width:400px;
    margin-left: 0px;
    margin-top: 20px;
}

#home-phone{
    width:400px;
    margin-left: 205px;
    margin-top: 20px;
}

.civil-status-form .civil-status-form1{
    margin-left: 630px;
    margin-top: -10px;
    background-color: azure;
}

#gender-form1{
    margin-left: 255px;
    margin-top: -20px;
}

.btn-group {
    color: rgb(73, 134, 247);
    margin-left: 200px;
    margin-top: 20px;
}



#birth-date{

    margin-left: 230px;
    margin-top: 50px;
}

.calender{
    margin-left: 350px;
    margin-top: -20px;
}


#years{
    width:60px;
    margin-left: 850px;
    margin-top: -25px;
}

#months{
    width:70px;
    margin-left: 912px;
    margin-top: -30px;
}

#days{
    width:60px;
    margin-left: 985px;
    margin-top: -30px;
}

#currect-age{
    margin-left: 570px;
    margin-top: -20px;
}

#citizen{
    margin-left: 990px;
    margin-top: -165px;
}




















































