body{
    background: url(http://localhost/academic-registration-automate-system/assets/images/LoginPanelImage1.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 550px 100px; 

    margin-top: 100px;
    margin-left: 200px;

}

.heading{
    margin-top: -50px;
    margin-left: 350px;
    color:#6161c9;
}

.username{
    margin-top: 250px;
    margin-left: 300px;
    color:#6161c9;
}

.password{
    margin-top: 5px;
    margin-left: 300px;
    color:#6161c9;
}

.login{
    margin-top: 20px;
    margin-left: 430px;
    color:#6161c9;
    
}

.signup{
    margin-top: -20px;
    margin-left: 500px;
    color:#f0b617;
    
}

.errorMessage{
    color: red;
    margin-top: -10px;
    margin-left: 300px;
}

#sign-up{
    width:100px;
    margin-left: -40px;
    margin-top: -35px;
    background-color: rgb(159, 168, 250);
}

#login{
    width:100px;
    margin-left: -30px;
    margin-top: -15px;
    background-color: rgb(159, 168, 250);
}

#username{
    width: 330px;
    margin-left: -10px;
}
#password{
    width: 330px;           
    margin-left: -10px;
}
#email{
    width: 330px;
    margin-left: 290px;
    margin-top: 10px;
}
#re-password{
    width: 330px;
    margin-left: 290px;
}

#message{
    font-size: 15px;
    font:  bold 12px/30px Georgia, serif;
    margin-left: 350px;
    margin-top: 50px;
    background-color: rgb(9, 255, 0);
}

#logout{
    padding: 9px; 
    margin-left: 600px; 
    margin-top: -530px;
    outline: 0;
    padding-top: 3px; 
    width:100px;
    height:30px;
    background-color: rgb(81, 114, 133); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(28, 138, 240, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(34, 11, 240, 0.1) 5px 5px 8px; 
}

















