body{
    background: url(http://localhost/academic-registration-automate-system/assets/images/LoginPanelImage.jpeg);
    background-repeat: no-repeat;
    background-size: 1380px 630px;
    margin-top: 10px;
    margin-left: 20px;
}